body {
    background-color: black;
    min-width: 845px;
}
.headertext {
    font-family: Arial;
    color: white;
    margin-left: 50px;
    margin-right: 55px;
    margin-top: 0px;
}
h1 {
    font-size: 40pt;
    font-weight:bold;
}
#podtitul {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 40px;
}
#podpis {
    color: rgb(84, 84, 84);
    font-family: Arial;
    font-weight: normal;
    text-align: right;
    font-size: 10pt;
    margin-top: 15px;
    margin-right: 11px;
    margin-bottom: 17px;
}
ul {
    list-style-type: square;
}
li {
    font-size: 14pt;
    font-weight: normal;
    margin-top: 10px;
}
.grid-container {
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
}
.first {
    grid-column: 1/3;
    background: linear-gradient(to right, #00a2ff, #00cbb4, #00a2ff, #00cbb4, #00a2ff);
	background-size: 1000% 1000%;
	animation: first 10s linear infinite;
}
img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    z-index: -1;
}
.jmeno {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    left: 10px;
    text-align: center;
    vertical-align: text-top;
    bottom: 2px;
    z-index: 2;
}
.item:hover>.jmeno {
    bottom: 350px;
    animation: jmeno 0.5s forwards;
}
h3 {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    left: 10px;
    z-index: 2;
}
.autor {
    bottom: -5px;
    opacity: 100%;
}
.item:hover>.autor {
    bottom: 343px;
    animation: autor 0.5s forwards;
    opacity: 0%;
}
.popis {
    position: absolute;
    top: 17px;
    right: 8px;
    opacity: 0%;
    text-align: justify;
}
.item:hover>.popis {
    top: 23px;
    opacity: 100%;
    animation: popis 0.5s forwards;
}
.item {
    position: relative;
    /*float: left;*/
    overflow: hidden;
    width: 400px;
    height: 400px;
}
.item:before {
    content: '';
    position:absolute;
    top:0; left: 0; right: 0; bottom: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%,rgb(0, 0, 0) 50%);
    background-size: 100% 200%;
    background-position-y: 0px;
}
.item:hover:before {
    background-position-y: -400px;
    animation: prechod 0.5s forwards;
}
@keyframes prechod {
    from {background-position-y: 0px};
    to {background-position-y: -400px};
}
@keyframes jmeno {
    from {bottom: 2px};
    to {bottom: 350px};
}
@keyframes autor {
    from {bottom: -5px; opacity: 100%};
    to {bottom: 343px; opacity: 0%};
}
@keyframes popis {
    from {top: 383px; opacity: 0%};
    to {top: 17px; opacity: 100%};
}
@keyframes first {
	from {background-position-x: 110%;}
	to {background-position-x: 0%;}
}